/*--------------------------------------------------------------
# Modal Sign In - Sign Up - Menu Section
--------------------------------------------------------------*/
.modal-signin-signup-menu {
  background: #F3EC9E;
  border-radius: 20px;
}

.modal-signin-signup-menu .icon-close i {
  font-size: 35px;
  cursor: pointer;
  color: #1C3B51;
  transition: all ease-in-out 0.4s;
}

.modal-signin-signup-menu .icon-close i:hover {
  color: #678FAD;
}

.modal-signin-signup-menu .btn-modal {
  background: #1C3B51; /* rgba(255, 255, 255, 0.2); */
  cursor: pointer;
  padding: 6px 40px 6px 40px;
  /* color: #F3EC9E; */ /* #fff */
  font-size: 23px;
  margin: 10px 0px 0px 0px;
  border-radius: 30px;
  transition: all ease-in-out 0.4s;
}

.modal-signin-signup-menu .btn-modal:hover {
  padding: 6px 60px 6px 60px;
}

.modal-signin-signup-menu .menu-modal-row {
  margin: 0px 20px;
}

/* ABOUT ICON */
.about-icon {
  content: url('../img/menu_bar/about_icon.png');
  height: 100px;
  width: 100px; 
  margin: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.menu-modal-icon:hover .about-icon {
  height: 147px;
  width: 147px;
}

/* SPEAKER ICON */
.speaker-icon {
  content: url('../img/menu_bar/speaker_icon.png');
  height: 100px;
  width: 100px;
  margin: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.menu-modal-icon:hover .speaker-icon {
  height: 147px;
  width: 147px;
}

/* SCHEDULE ICON */
.schedule-icon {
  content: url('../img/menu_bar/schedule_icon.png');
  height: 100px;
  width: 100px;
  margin: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.menu-modal-icon:hover .schedule-icon {
  height: 147px;
  width: 147px;
}

/* ON IME ICON */
.on-ime-icon {
  content: url('../img/menu_bar/on_ime_icon.png');
  height: 100px;
  width: 100px;
  margin: 15px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.menu-modal-icon:hover .on-ime-icon {
  height: 147px;
  width: 147px;
}


/*--------------------------------------------------------------
# Modal Pay Section
--------------------------------------------------------------*/
.modal-pay {
  background: #1C3B51;
  border-radius: 20px;
}

.modal-pay .icon-close i {
  font-size: 35px;
  cursor: pointer;
  color: #F3EC9E;
  transition: all ease-in-out 0.4s;
}

.modal-pay .icon-close i:hover {
  color: #678FAD;
}

.modal-pay .btn-modal {
  background: #F3EC9E; /* rgba(255, 255, 255, 0.2); */
  cursor: pointer;
  padding: 6px 30px 6px 30px;
  /* color: #F3EC9E; */ /* #fff */
  font-size: 23px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
  transition: all ease-in-out 0.4s;
}

.modal-pay .btn-modal p, h5 {
  transition: all ease-in-out 0.4s;
}

.modal-pay .btn-modal:hover {
  /* padding: 6px 34px 6px 40px; */
  background: #678FAD;
  color:  #F3EC9E;
}

.modal-pay .btn-modal:hover p, h5 {
  /* padding: 6px 34px 6px 40px; */
/*   background: #F3EC9E; */
  color:  #F3EC9E;
}

.modal-pay .menu-modal-row {
  margin: 0px 20px;
}


/*--------------------------------------------------------------
# Modal Branding Section
--------------------------------------------------------------*/
.modal-branding {
  background: #F3EC9E;
  border-radius: 20px;
}

.modal-branding .icon-close i {
  font-size: 35px;
  cursor: pointer;
  color: #1C3B51;
  transition: all ease-in-out 0.4s;
}

.modal-branding .icon-close i:hover {
  color: #678FAD;
}

.modal-branding .btn-modal {
  background: #1C3B51; /* rgba(255, 255, 255, 0.2); */
  cursor: pointer;
  padding: 6px 30px 6px 30px;
  /* color: #F3EC9E; */ /* #fff */
  font-size: 23px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
  transition: all ease-in-out 0.4s;
}

.modal-branding .btn-modal p, h5 {
  transition: all ease-in-out 0.4s;
}

.modal-branding .btn-modal:hover {
  /* padding: 6px 34px 6px 40px; */
  background: #678FAD;
  color:  #F3EC9E;
}

.modal-branding .btn-modal:hover p, h5 {
  /* padding: 6px 34px 6px 40px; */
/*   background: #F3EC9E; */
  color:  #F3EC9E;
}

.modal-branding .menu-modal-row {
  margin: 0px 20px;
}